header{
    background-color: grey;
}
*{
    box-sizing: border-box;
}
.navbar-brand a{
    text-decoration: none;
    color: black;
}
.positioning{
    float: left;
}
.box{
    background-color: grey;
    margin: 15px;
    position: relative;
}
h2{
    text-align: center;
    color: black;
    text-decoration: bold;
}
.center{
    text-align: center;
    text-decoration: bold;
    font-size: larger;
    color: black;
}